.ingame-container {
  width: 100%;
  height: 120vh;
  background-image: url('../../../public/pongtable.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* 텍스트가 보이도록 색상 설정 */
  font-family: 'HakgyoansimPuzzleTTF-Outline';
}

.account-image {
  margin-bottom: 20px;
}

.account-image img {
  height: auto;
  border-radius: 10px;
  /* max-width: 20%; */
  width: 5em;
}

.pick-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  padding: 50px;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 100%;
  max-width: 70%;
  max-height: 40%;
  font-size: 2.5em;
  overflow-y: auto;
}

.match-opt {
  /* width: 20px; */
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.match-opt:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.match-opt::placeholder {
  color: #6c757d;
}

.match-btn {
  font-family: 'HakgyoansimPuzzleTTF-Outline';
}

.trans-box {
  /* padding: 20px; */
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}
