@font-face {
  font-family: 'HakgyoansimPuzzleTTF-Outline';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Outline.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
